body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  margin: 0;
  padding: 0;
    background-image: url('caminho/para/imagem.jpg');
    background-color: #fff; /* cor de fundo caso a imagem não cubra toda a tela */
    background-repeat: no-repeat; /* evita que a imagem seja repetida */
    background-size: cover; /* faz a imagem cobrir todo o fundo, sem distorcer */
  }
  
  header {
    background-color: #2d3e50;
    color: #fff;
    text-align: center;
    padding: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    -webkit-text-stroke: 1px #fff;
    -webkit-text-stroke-width: 2px;
  }
  
  header {
    background: #2d3e50;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  .title-container {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
  }
  
  h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  color: #2d3e50;
  cursor: pointer; /* Adiciona cursor de mão para indicar que é clicável */
}

.topic-content {
  display: none;
  transition: all 0.3s ease; /* Adiciona uma transição suave */
}

p {
  font-size: 16px;
  line-height: 1.5;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

table th {
  background-color: #54c8ff;
  color: #fff;
}

table td:first-child {
  text-align: left;
}

footer {
  background-color: #f2f2f2;
  padding: 20px 0;
}

.blue-block {
  background: linear-gradient(to bottom right, #00bfff, #0080ff);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

  

@media only screen and (max-width: 600px) {
  h2 {
      font-size: 20px;
  }

  p {
      font-size: 14px;
  }

  table th, table td {
      padding: 5px;
  }
}
